<!DOCTYPE html>
    <html>
      <head>
        <title>About Me.</title>
      </head>
      <body>
        <h1>Kramer, Ean</h1>
        <p>Interesting Factoids:<br><br>
          1. I have dislocated my kneecaps on four seperate occasions.<br>
          2. I enjoy snowboarding and mountain-biking.<br>
          3. I have moved something like 10 times.<br><br>

          I'm studying Computer Science to try to make myself a more marketable
          student in the job force. <br> It's a big field with plenty of money-making
          opportunities and I also happen to find it pretty <br> interesting which
          is a plus.
        </p><br>
        <h2>My Professional Profile</h2>
        <a href="https://github.com/eakr9014">Here is my Github!</a><br>
        <img src="../resources/images/portrait.jpg" alt="Portrait of Me" width = "300px">
        <h3>My Favorite Projects</h3>
        <table border="1px solid black">
          <tr>
            <th>Name of the Project</td>
            <th>Technologies Used</td>
          </tr>
          <tr>
            <td>Bomb Lab</td>
            <td>GDB, C++</td>
          </tr>
          <tr>
            <td>This Website</td>
            <td>Bootstrap, HTML</td>
          </tr>
          <tr>
            <td>VoltStep</td>
            <td>Electrical Circuits, Piezos</td>
          </tr>
        </table>
        <br>
        <h3>Countries Travelled</h3>
        <ul>
          <li>Dominican Republic</li>
          <li>Jamaica</li>
          <li>Mexico</li>
        </ul>
        <h3>My Interests</h3>
        <ol>
          <li>Music</li>
          <li>Action Sports</li>
          <li>The Creation of Life</li>
        </ol>
      </body>
    </html>
